/* text-transform= None = Nenhuma formatação (traduzido seria nenhum).
-Capitalize = As primeiras letras de cada palavra ficam com letras maiúsculas (traduzindo seria Capitalizar).
-Uppercase = Coloca todas as letras em maiúscula (traduzindo seria maiúscula).
-Lowercase = Coloca todas as letras em minúsculas (traduzindo seria minúscula). */

/*TERMINAR O SOBRE MIM -
ALTERAR A FONTE, COR - DIVIDIR AS EMPRESAS*/


* {
    margin: 0px;
    padding: 0px 0px 0px 1px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/*lado esquerdo*/
.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: #64B7CC;
    border-radius: 5px 0px 0px 5px;

}

/*lado direito*/
.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: #A5BEFA;
    border-radius: 0px 60px 60px 0px;
}

.left-section-contents{
    padding: 2rem 2rem;
}

.profile {
    width: 100%;
    border-bottom: 2px solid #072a4d;
}


.profile .profile-image {
    width: 100%;
    border-radius: 100%;
    border: 2px solid #072a4d;
}

.name {
    color: #451531;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}


.profession {
    color: #451531;
    font-size: 17px;
    text-transform: uppercase ;
    text-align: center;
}

 .contact-info { border-bottom: 2px solid #072a4d; } 
.left-title {
    color: #451531;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.contact-info ul {
    padding-top: 1.5rem;
    text-align: none;
}

.contact-info ul li,
.references ul li {
    padding: .4rem 0;
    color: #080808;
    list-style-type: none;
    text-align: justify;
}

.contact-info ul li i,
.references ul li i {
    padding-right: 1rem;
    font-size: 10px;
    color: #eeeeee;
    list-style-image: none;
}

.skills ul {
    padding-top: 1.5rem;
}
.skills ul li p {
    padding: .4rem 0;
    color: #eeeeee;
    text-align: center;
}

.right-section-contents {
    padding: 2rem 2rem;
}

.right-title {
    color: #7c7979;
    font-size: 20px;
    font-weight: bold;
    text-align: justify-all;
}

.gap {
    padding-bottom: 2rem;
}

.about-me-contents {
    font-size: 17px;
    color: #eeeeee;
    text-align: center; 
}

.experience-contents,
.education-contents,
.awards-contents {
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
    color: #414a50;
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 20px;
}

.exp-time-period,
.education-time-period,
.awards-time-period {
    font-size: 16px;
}



.exp-position,
.education-subject,
.awards-name {
    font-size: 20px;
}


.exp-desc,
.education-desc,
.awards-desc {
    font-size: 16px;
    padding-left: 4px;
}